<!DOCTYPE html>
<html lang="en">
<%- include('./templates/head.ejs') %>

  <body>
    <%- include('./templates/navbar.ejs') %>
      <div id="home" class="home">
        <% if(msg != ""){ %> 
          <div class= <%= cls %>>
            <h4><%= msg %> </h4>
          </div>
          <% } %> 
        <h1 class="mainheading">
          Hi
        </h1>
        <h2>
          My Name is Debabrata ,
        </h2>
        <h2>I am a Digital Artist , A Programmer , A Web Developer</h2>
        <h3>Scroll</h3>
        <a href="#skill">
          <%- include('./templates/svg/arrow.ejs') %>
      </a>
      </div>

      <div id="skill" class="skill">
        <h1>Skills</h1>
        <div class="program">
          <div class="card">
          <h2>
            Programming :
          </h2>
          <div class="span">
            I am proficient in C, C++ and python. My problem solving needs a bit more practice,
             but I can write basic algorithms. I am also familiar basic Data Structures and their code in C and C++.
              There is a lot more to learn in programming for me.
               I Have experience in using MySql
          </div>
        </div>
        <div class="card-lang">
          <h2>Languages : </h2>
          <%- include('./templates/svg/program.ejs') %>
      </div>
        </div>
        <div class="program">
          <div class="card">
          <h2>
            Web Dev :
          </h2>
          <div class="span">
            I am well versed in front-end technologies and this site is completely designed
             and coded by me without the help of any framework or template.
              I can use CSS frameworks if needed, but I avoid them in my personal projects. 
              Though very new to javascript I can use and implement the fundamentals of DOM,
               Local storage and API. On the back-end I have worked with NodeJs with packages like Express and Ejs. 
          </div>
        </div>
        <div class="card-lang">
          <h2>Languages / Modules : </h2>
          <%- include('./templates/svg/webdev.ejs') %>
      </div>
        </div>
        <div class="program">
          <div class="card">
          <h2>
            Software :
          </h2>
          <div class="span">
            I use design softwares like Photoshop, Illustrator, Krita and Clip studio paint regularly
             for my artworks as well as designing posters, icons, logs, etc. I am also quite familiar
              with online is designing platforms like canvas. I have experience in using Office applications
               for more than 5 years. Git is my primary version control and I am active on Github.
          </div>
        </div>
        <div class="card-lang">
          <h2>Applications : </h2>
          <%- include('./templates/svg/soft.ejs') %>
      </div>
        </div>
      </div>
      <div id="about" class="about">
        <h1>About Me</h1>
        <div class="container-about">
          <div class="text">
            <div class="span">
              I am Debabrata Batabyal. I am a student studying in Techno International New Town pursuing
               B.tech in Computer Science. I like Frontend Desgining and building webpages. I like programming
                but still have a lot to learn. If it's 2021 I am 19.
            </div>
          </div>
          <div class="about-image"></div>
        </div>
        <%- include('./templates/svg/social.ejs') %>
      </div>
      <div id="hobbies" class="hobbies">
        <h1>Hobbies</h1>
        <%- include('./templates/svg/hob.ejs') %>
      </div>

      <div id="contact" class="contact">
        <h1>Thank You for visiting leave a message here :</h1>
        <div class="form-area">
          <form action= "/" method="POST">
            <div class="c1">
              <label for="name">Name</label>
              <input class="input" type="text" name="name" required>
              <label  for="mail">E-mail</label >
              <input class="input" type="text" name ="mail" required>
              <label for="subject">Subject</label>
              <input class="input" type="text" name= "subject" required>
            </div>
            <div class="c2">
              <label for="message">Message</label>
              <textarea class="textarea" name="message" id="" required></textarea>
              <input class="button" type="submit">
            </div>
          </form>
        </div>
      </div>
      <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
        </script>
  </body>

</html>
