<!DOCTYPE html>
<html lang="en">
<%- include('./templates/head.ejs') %> 
<body>
  <div class="posted">
  <h1 class="message">
    Message Recived 
  </h1>
  <ul class="data">
    <li>From :<br> <%= data.name  %> </li>
    <li>Mail :<br> <%= data.mail %> </li>
    <li>Subject :<br> <%= data.subject %> </li>
    <li>Message :<br> <%= data.message %> </li>
  </ul>
  <a href="/" class="button">Go Back</a>
</div>
</body>
</html>